/apps/logger/.env
/apps/logger/build.env
/apps/logger/docker-compose.yml
/node_modules
/apps/inventory/build
/apps/inventory/tsconfig.tsbuildinfo
/apps/inventory/coverage
/apps/catalog/build
/apps/catalog/tsconfig.tsbuildinfo
/apps/catalog/coverage
/apps/cart/build
/apps/cart/tsconfig.tsbuildinfo
/apps/cart/coverage
/apps/fullfillment/build
/apps/fullfillment/tsconfig.tsbuildinfo
/apps/order/build
/apps/order/coverage
/apps/order/tsconfig.tsbuildinfo
/apps/payment/build
/apps/payment/tsconfig.tsbuildinfo
