APP_ENV=test
APP_NAME=@common-services/logger
APP_PORT=3000

DEBUG_MODE=true
APP_VERSION=1.0.0
APP_BUILD_NUMBER=202609160944
BUILD_LOCAL_ONLY=yes
DEPLOYMENT_HOST=INTERNAL_SERVICES

# Database Configuration
# DB_HOST=common_mongo
DB_HOST=common_mongo
DB_PORT=27017
DB_USERNAME=admin
DB_PASSWORD=admin@Secret1
DB_DATABASE=logger_local
DB_MAX_POOL_SIZE=20
DB_REQUEST_LOG_DB=request_log_local

# MQ_HOST=common_rabbitmq
MQ_HOST=common_rabbitmq
MQ_PORT=5672
MQ_USER=rabbitmq
MQ_PASSWORD=rabbitmq

LOG_EXCHANGE=logger-service
EVENT_EXCHANGE=internal-event-exchange

REGISTRY_HOST=registry.localhost.com
REGISTRY_USER=admin
REGISTRY_PASSWORD=admin@Secret1
