APP_ENV=test
APP_NAME=@common-services/socket-server
APP_PORT=3000
APP_VERSION=1.0.0
APP_BUILD_NUMBER=202409261035
DEBUG_MODE=true

# SOCKET_PATH=/socket.io
SOCKET_PATH=/socket-server/socket.io

# MQ_HOST=common_rabbitmq
MQ_HOST=localhost
MQ_PORT=5672
MQ_USER=rabbitmq
MQ_PASSWORD=rabbitmq

LOG_EXCHANGE=logger-service

# DB_HOST=localhost
# DB_HOST=common_postgres
DB_HOST=internal-services-test
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin@IFNT1
DB_DATABASE=socket_server_test
DB_READ_HOST=127.0.0.1
DB_READ_PORT=5433
DB_DISABLE_CASE_CONVERSION=false
DB_POOL_MIN=0
DB_POOL_MAX=50
DB_CLIENT=pg
DB_TIMEOUT=50000
